
.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  float: left;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header {
  background-color:white  ;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-style: oblique;
}


nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   background: black;
   color: cyan;

}
.nav-links{
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
  
}

.not-found{
  position: fixed;
  top:0;
  bottom: 0;
  width:100vw;
  height:100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  position: fixed;
  padding-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: black;
  color: white;
  text-align: center;
}

